body{
    display: flex;
    flex-flow: row;
    margin: 15px;
}

div, p, h1, h2{
    display: flex;
    flex: 1 1 auto;
    
   
}

.para{
   
    margin: 16px;
    
    font-size: 24px;
}
img {
    display: flex;
    max-width: 65%;
    align-self: center;
    margin: 12px;
}

.wholeThing{
    display: flex;
    border-color: black;
    max-width: 70%;
    flex-flow: column;
    justify-content: center;
    align-items: center;


}

.mainContent{
   display: flex;
    border-color: black;
    max-width: 85%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    
}

.leftNavBar, a{
    max-width: 15%;
    font-size: x-large;
    text-decoration: none;
    background-color: #341735;
    color: aliceblue;
    text-decoration: none;
}

.verticalDesc{
    flex-flow: column wrap;
    align-items: center;
    
}

